*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


.registration-form{
    margin-left: 10px;
}

.registration-form p{
    font-size: 20px;
    margin: 15px 0;
}

.registration-form input{
    font-size: 16px;
    padding: 15px 10px;
    /* width: 100%; */
    border-radius: 5px;
    outline: none;
}

.registration-form button{
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0;
    padding: 10px 15px;
    border-radius: 5px;
}

table{
    width: 400px;
}

th{
    text-align: left;
}

table, th, td {
    border: 1px solid #000;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #000;
    border-collapse: collapse;
}

#myInput{
    float: right;
    padding: 10px 15px;
}